:root{
  --mainblue: #3370F2 ;
  --darkblue:#364564  ;
  --darkGrey: #313134  ;
  --grey: #9F9FA3 ;
  --yellow: #D7F211 ;
  --red:#FF0023 ;
  --lightwhite: #E6EAF2;
}

*{
  margin:0 ;
  padding:0;
  outline: none;
  box-sizing:border-box ;
  font-family:Noto sans JP, sans-serif ;
}

body{
  width: 100%;
  height: auto;
  color: var(--darkblue);

}



/*top bar*/


p{
  font-size: 14px;

}

.label-cart{
  position:fixed ;
  top:15;
  right:10;
  z-index:4 ;
  color: var(--yellow);
  cursor:pointer ;
}

.logo{
  position:fixed;
  background: var(--darkblue);
  color: var(--lightwhite);
  width:100%;
  text-align:left ;
  padding:15px 420px 15px 60px;
  top: 0;
  z-index:2;
  font-size: 28px;
}



   /*Dashboard */

.dashboard-title {
  padding: 0 2rem;
  margin-left: 70px;
  margin-top: 70px;

}

.dashboard-menu > a{
  display:flex;
  justify-content: space-around;
  gap:10px;
  padding:0.3rem 1rem;
  overflow-x:auto;
  display: inline-block;

}
.dashboard-menu{
  margin-left: 80px;
  margin-top:  30px;
}

.dashboard-menu > a {
  text-decoration: none;
  text-align:center;
  border-radius:20px;
  min-width:120px;
  padding:0.5rem 0;
  font-size:1.1rem;
  color: var(--darkblue);
  background-color: var(--lightGrey);
}

.dashboard-menu> a:hover{
  background-color: var(--darkblue);
  color: var(--lightwhite);
}


.dashboard-content{
  display: grid;
  margin-left: 80px;
  margin-top: 30px;
  margin-right: 50px;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0.5rem 1rem 1rem 1rem;
}

.dasdboard-card{
  background-color: var(--maincolor);
  box-shadow:rgba(0, 0, 0, 0.16) 4px 3px 8px ;
  border-radius: 15px;
  position: relative;
  cursor: pointer; 
}

.dashboard-card:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 10px 8px 14px;
}



.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

.card-detail {
  padding: 10px;
}

.card-detail > h4 > span{
  float: right;
}

.card-time {
  color: var(--darkblack);
  font-size: 0.9rem;
  padding-top: 10px;
}





/*Delivery Restaurants in Bhopal*/

.dashboard-title1 {
  padding: 0 2rem;
  margin-left: 80px;
  margin-top: 20px;
}

.dashboard-menu1 > a{
  display:flex;
  justify-content: space-around;
  gap:10px;
  padding:0.3rem 1rem;
  overflow-x:auto;
  display: inline-block;

}
.dashboard-menu1{
  margin-left: 200px;
  margin-top: 50px;
}

.dashboard-menu1 > a {
  text-decoration: none;
  text-align:center;
  border-radius:20px;
  min-width:120px;
  padding:0.5rem 0;
  font-size:1.1rem;
  color: var(--darkblue);
  background-color: var(--lightGrey);
}

.dashboard-menu1> a:hover{
  background-color: var(--darkblue);
  color: var(--lightwhite);
}

.dashboard-content1{
  display: grid;
  margin-left: 80px;
  margin-top: 30px;
  margin-right: 50px;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0.5rem 1rem 1rem 1rem;
}

.dasdboard-card1{
  background-color: var(--maincolor);
  box-shadow:rgba(0, 0, 0, 0.16) 4px 3px 8px ;
  border-radius: 15px;
  position: relative;
  cursor: pointer; 
}

.dashboard-card1:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 10px 8px 14px;
}



.card-image1 {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}

.card-detail1 {
  padding: 10px;
}

.card-detail1 > h4 > span{
  float: right;
}

.card-time1 {
  color: var(--darkblack);
  font-size: 0.8rem;
  padding-top: 10px;
}
